{% macro header(params) %}
    <div class="mb-5">
		<h3 class="font-semibold text-2xl text-gray-800">{{ params.heading }}</h3>
		<p class="text-gray-400">{{ params.subHeading }} {% if params.link %}<a href="{{ params.link }}" class="text-sm font-bold text-sky-600 hover:text-sky-600">{{ params.linkText }}</a>{% endif %}</p>
	</div>
{% endmacro %}

{% macro submitButton(params) %}
    <button type="submit" class="w-full flex justify-center bg-picton-blue-500 hover:bg-picton-blue-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
        {{ params.buttonText }}
    </button>
{% endmacro %}
