{% if addNew %}
    <div class="px-12 py-8 bg-white mx-auto rounded-3xl max-w-3xl mt-6">
        <a href="/" class="float-left text-sm font-bold text-picton-blue-600 hover:text-picton-blue-700">Go back</a><br>
        <div class="mb-5">
            <h1 class="font-semibold text-2xl text-gray-800">Raise a new ticket</h1>
        </div>

        {% include "../_messages.njk" %}
        
        <form action="/add" method="post" novalidate>
            {% include "../_csrf.njk" %}
            <label for="name" class="text-gray-500">Item name</label>
            <input id="name" name="name" type="text" placeholder="e.g Macbook Pro" value="{{ asset.name }}" required class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-picton-blue-500 mb-6">
            <div class="grid grid-cols-2 gap-6 mb-6">
                <div class="flex flex-col">
                    <label for="code" class="text-gray-500 mb-1">Item asset code</label>
                    <p class="text-gray-500 mb-1">(six digit code found on the device)</p>
                    <input id="code" name="code" type="text" placeholder="e.g NHS001" value="{{ asset.code }}" required class="text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-picton-blue-500">
                </div>
                <div class="flex flex-col">
                    <label for="type" class="text-gray-500 mb-1">Type of fault</label>
                    <p class="text-gray-500 mb-1">(select the most applicable)</p>
                    <select id="type" name="type" value="{{ asset.type }}" class="text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-picton-blue-500">
                        <option>Hardware fault</option>
                        <option>Software fault</option>
                        <option>Other</option>
                        {# datalist #}
                    </select>
                </div>
            </div>

            <label for="note" class="text-gray-500 block">Note</label>
            <p class="text-gray-500 mb-1">(describe what is wrong within 200 characters)</p>
            <input id="note" name="note" type="text" placeholder="e.g The charging port has broken" value="{{ asset.note }}" required class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-picton-blue-500 mb-6">

            <button type="submit" class="w-1/2 flex justify-center bg-picton-blue-500 hover:bg-picton-blue-700 text-gray-100 p-3 rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
                Submit
            </button>
        </form>
    </div>
{% endif %}