
<div class="relative">
  <label for="username" class="text-gray-400">Username or Email</label>
  <input id="username" name="username" type="text" value="{{ username }}" placeholder="{{ username }}" autocomplete="username" required autofocus class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-picton-blue-500 mb-6">
</div>
<div class="relative">
  <label for="current-password" class="text-gray-400">Password</label>
  <input id="current-password" type="password" name="password" placeholder="Password" autocomplete="current-password" required class="text-sm px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-picton-blue-500 mb-6">
</div>
