{% extends "../_layouts/template.njk" %}

{# Signed-in content #}
{% block mainContent %}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% block content %}{% endblock %}
{% endblock %}