<nav class="flex items-center justify-between flex-wrap bg-gray-100 p-6">
    <div class="flex items-center flex-shrink-0 text-picton-blue-600 mr-6">
        <a href="/"><span class="font-bold text-xl tracking-tight font-sans">FAULTIFIER</span></a>
    </div>
    {# We use this boolean for showing logged in avatar / sign out button #}
    {% if overrideNav %}
    <div class="flex items-center w-auto">
        <a href="/settings">
            <div class="flex w-full items-center font-sans px-4">
                <img class="w-8 h-8 rounded-full" src="https://source.puri.sm/uploads/-/system/user/avatar/10/avatar.png" alt="user avatar">
                <div class="flex-1 px-2">
                    <p class="text-gray-600 text-sm md:text-base font-semibold">{{ user.username }}</p>
                </div>
            </div>
        </a>
        <form action="/logout" method="post">
            {% include "./_csrf.njk" %}
            <button class="text-sm font-semibold px-4 py-2 leading-none border rounded text-gray-600 border-gray hover:border-transparent hover:bg-gray-700 hover:text-white" type="submit">Sign out</button>
        </form>
    </div>
    {% endif %}
</nav>
