{% extends "../_layouts/template.njk" %}
{% set overrideNav = true %}

{% block mainContent %}
<div class="flex items-center justify-center">
  {% include "../_layouts/_includes/_side-nav.njk" %}
  <div class="grid grid-cols-1 sm:grid-cols-3">
    <div class="m-4 col-span-1 sm:col-span-2 p-8 bg-white rounded-xl flex justify-center items-center">
      <div class="bg-white mx-auto rounded-3xl w-56">
        <div class="flex items-center justify-center">
          <img class="object-center w-28 h-28 rounded-full" src="https://source.puri.sm/uploads/-/system/user/avatar/10/avatar.png" alt="profile photo">
        </div>
        <div class="text-center text-gray-600">
          {{ user.username }}
        </div>
        <div class="text-gray-500 my-6">
          <p>Name: <span class="font-semibold">{{ user.username }}</span></p>
          <p>Password: <span class="font-semibold">••••••••</span></p>
          <p>Admin account: <span class="font-semibold">{% if user.role == 1 %}true{% else %}false{% endif %}</span></p>
        </div>
        <a href="javascript:history.back()" class="w-full flex justify-center bg-picton-blue-500 hover:bg-picton-blue-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
          Close
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}