{% extends "../_layouts/template.njk" %}
{% from '../_layouts/_macros/_form.njk' import basicForm, header %}

{% block mainContent %}
<div class="p-12 bg-white mx-auto rounded-3xl w-96 ">
	{{ header({ heading: 'Sign up', subHeading: 'Already have an account?', link: '/login', linkText: 'Sign in' }) }}
	{% include "../_includes/_messages.njk" %}
	{{ basicForm({ url: '/login/password', buttonText: 'Sign up'}) }}
</div>
{% endblock %}
