{% extends "../_layouts/template.njk" %}
{% from '../_layouts/_macros/_form.njk' import header, submitButton %}
{% set title = "Sign up" %}

{% block mainContent %}
<div class="p-12 bg-white mx-auto rounded-3xl w-96 ">
	<a href="/" class="float-left text-sm font-bold text-sky-600 hover:text-sky-600">Go back</a><br>
	{{ header({ heading: 'Sign up', subHeading: 'Already have an account?', link: '/login', linkText: 'Sign in' }) }}
	{% include "../_layouts/_includes/_messages.njk" %}
	<form action="/signup" method="post" novalidate>
    	{% include "../_layouts/_includes/_csrf.njk" %}
			{% include "../_layouts/_includes/_form/_content.njk" %}
			{{ submitButton({ buttonText: 'Sign up' }) }}
	</form>
</div>
{% endblock %}
